.timmer {
  background: rgba(60, 0, 242, 0.1);
  color: var(--bs-nav-color);
  border-radius: 10px;
  box-shadow: none;
  padding: 15px 20px;
  font-size: 16px;
  text-align: center;
  margin: 25px auto 0;
  width: 100px;
}